<label>{{label}}</label>
<div>
    <select class="ui search dropdown" multiple="">
        {{#if allowBlank}}
            <option value="">{{placeHolder}}</option>
        {{/if}}
        {{#each options as |option|}}
            <option value="{{option.value}}">{{option.name}}</option>
        {{/each}}
    </select>
</div>