{{outlet}}

<div class="ui container" >
    <div class="ui dividing header" >ui button</div>
    <div class="ui two column grid" >
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button theme="basic" }} button \{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button theme="basic" }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button theme="primary" }} button \{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button theme="primary" }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button theme="secondary" }} button \{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button theme="secondary" }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button theme="animated" tagName="div" }}\{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button theme="animated" tagName="div" }}
                    <div class="visible content">Next</div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                {{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button color="red" }}\{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button color="red" }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button color="orange" }}\{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button color="orange" }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button color="yellow" }}\{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button color="yellow" }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button color="blue" }}\{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button color="blue" }}button{{/ui-button}}
            </div>
        </div>
    </div>
</div>