{{outlet}}

<div class="ui grid">
	<div class="column">
		<div class="items">
			<div class="item">
				<a href="javascript:;" {{action 'clickHandler'}}>点击</a>
				{{#ui-modal}}{{/ui-modal}}
		    </div>
		</div>
	</div>
</div>