{{outlet}}

<div class="ui grid" >
    <div class="column" >
        <div class="ui items" >
            <div class="item" >
                <div class="content" >
                    <div class="header" >
                        useage 1
                    </div>
                    {{#ui-multi-checkbox style="margin:20px 0" value=checkvalue }}
                        {{#ui-checkbox  value="apple" }}apple{{/ui-checkbox}}
                        {{#ui-checkbox  value="google" }}google{{/ui-checkbox}}
                        {{#ui-checkbox  value="dropbox" }}dropbox{{/ui-checkbox}}
                    {{/ui-multi-checkbox}}
                    <div class="meta" >
                        {{checkvalue}}
                    </div>
                </div>
            </div>
            <div class="item" >
                <div class="content" >
                    <div class="header" >
                        usage 2
                    </div>
                    <div class="ui form" >
                        {{#ui-multi-checkbox options=options value=checkvalue2 }}{{/ui-multi-checkbox}}
                    </div>
                    <div class="meta" >
                        {{checkvalue2}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>