{{outlet}}

<div class="ui grid" >
    <div class="column" >
        <div class="ui items" >
            <div class="item" >
                <div class="content" >
                    {{#ui-radio-group value=checkvalue name="co1" }}
                        {{#ui-radio  value="apple" }}apple{{/ui-radio}}
                        {{#ui-radio  value="google" }}google{{/ui-radio}}
                        {{#ui-radio  value="dropbox" }}dropbox{{/ui-radio}}
                    {{/ui-radio-group}}
                    <div class="meta" >
                        {{checkvalue}}
                    </div>
                </div>
            </div>
            <div class="item" >
                <div class="content" >
                    <div class="ui form" >
                        {{#ui-radio-group name="co2" options=options value=checkvalue2 }}{{/ui-radio-group}}
                    </div>
                    <div class="meta" >
                        {{checkvalue2}}
                    </div>
                </div>
            </div>
            <div class="item" >
                <div class="content" >
                    <div class="ui form" >
                        {{#ui-radio-group name="co3" inlineDisplay=true  options=options value=checkvalue3 }}{{/ui-radio-group}}
                    </div>
                    <div class="meta" >
                        {{checkvalue3}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
