<h2 id="title">Welcome to Ember.js</h2>

<p>
{{model.title}}
{{hello}}
</p>
{{#ui-button theme="basic" }}button{{/ui-button}}
{{#ui-checkbox theme="toggle" checked=true }}toggle{{/ui-checkbox}}
{{#ui-checkbox checked=true  }}normal{{/ui-checkbox}}
{{#ui-checkbox theme="slider" checked=true }}toggle{{/ui-checkbox}}


{{outlet}}
