<div class="ui secondary  menu">
  {{#link-to "demo.ui-button" class="item" }}ui-button{{/link-to}}
  {{#link-to "demo.ui-checkbox" class="item" }}ui-checkbox{{/link-to}}
  {{#link-to "demo.ui-multi-checkbox" class="item" }}ui-multi-checkbox{{/link-to}}

</div>
<div class="ui container" >
    {{outlet}}
</div>